{% extends 'backend/backend_layout.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ user.getStatus ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Rôle</th>
                <td>
                    {% for role in user.role %}
                        {{ role.name }}
                    {% else %}
                        Aucun rôle attribué
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_list') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': tag.id}) }}">edit</a>

    {#{{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
